/* Reset some basics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  width: 400px;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #333;
}

.btn {
  display: block;
  width: 100%;
  padding: 0.9rem 0;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  background-color: #95eb50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none; /* for <a> tags */
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #528b23;
}
